<div class="header">
  <a (click)="openSideMenu=!openSideMenu" [class.active]="openSideMenu" href="#" id="menu-action">
    <i [class.fa-bars]="!openSideMenu" [class.fa-close]="openSideMenu" class="fa"></i>
    <span>Close</span>
  </a>
  <h4 class="logo pt-2">Manage Academy</h4>
</div>
<div [class.active]="openSideMenu" class="sidebar">
  <ul>
    <li><a href="#"><i class="fa fa-desktop"></i><span>Desktop</span></a></li>
    <li><a href="#"><i class="fa fa-server"></i><span>Server</span></a></li>
    <li><a href="#"><i class="fa fa-calendar"></i><span>Calendar</span></a></li>
    <li><a href="#"><i class="fa fa-envelope-o"></i><span>Messages</span></a></li>
    <li><a href="#"><i class="fa fa-table"></i><span>Data Table</span></a></li>
  </ul>
</div>
