<ma-header #header></ma-header>

<!-- Content -->
<div [class.active]="header.openSideMenu" class="main">
  <div class="alert alert-danger">Test Test Test Test</div>
  <div class="alert alert-danger">Test Test Test Test</div>
  <div class="alert alert-danger">Test Test Test Test</div>
  <div class="alert alert-danger">Test Test Test Test</div>
  <div class="alert alert-danger">Test Test Test Test</div>
  <div class="alert alert-danger">Test Test Test Test</div>
  <div class="alert alert-danger">Test Test Test Test</div>
  <div class="alert alert-danger">Test Test Test Test</div>
  <div class="alert alert-danger">Test Test Test Test</div>
  <div class="alert alert-danger">Test Test Test Test</div>
  <div class="alert alert-danger">Test Test Test Test</div>
  <div class="alert alert-danger">Test Test Test Test</div>
  <div class="alert alert-danger">Test Test Test Test</div>
  <div class="alert alert-danger">Test Test Test Test</div>
  <div class="alert alert-danger">Test Test Test Test</div>
  <div class="alert alert-danger">Test Test Test Test</div>
  <div class="alert alert-danger">Test Test Test Test</div>
  <div class="alert alert-danger">Test Test Test Test</div>
  <div class="alert alert-danger">Test Test Test Test</div>
  <div class="alert alert-danger">Test Test Test Test</div>
  <div class="alert alert-danger">Test Test Test Test</div>
  <div class="alert alert-danger">Test Test Test Test</div>
  <div class="alert alert-danger">Test Test Test Test</div>
  <div class="alert alert-danger">Test Test Test Test</div>
  <div class="alert alert-danger">Test Test Test Test</div>
  <div class="alert alert-danger">Test Test Test Test</div>
  <div class="alert alert-danger">Test Test Test Test</div>
  <div class="alert alert-danger">Test Test Test Test</div>
  <div class="alert alert-danger">Test Test Test Test</div>
  <div class="alert alert-danger">Test Test Test Test</div>
  <div class="alert alert-danger">Test Test Test Test</div>
  <div class="alert alert-danger">Test Test Test Test</div>
  <div class="alert alert-danger">Test Test Test Test</div>
  <div class="alert alert-danger">Test Test Test Test</div>
  <div class="alert alert-danger">Test Test Test Test</div>
  <div class="alert alert-danger">Test Test Test Test</div>
  <div class="alert alert-danger">Test Test Test Test</div>
  <div class="alert alert-danger">Test Test Test Test</div>
  <div class="alert alert-danger">Test Test Test Test</div>
  <div class="alert alert-danger">Test Test Test Test</div>
  <div class="alert alert-danger">Test Test Test Test</div>
  <div class="alert alert-danger">Test Test Test Test</div>
  <div class="alert alert-danger">Test Test Test Test</div>
  <div class="alert alert-danger">Test Test Test Test</div>
  <div class="alert alert-danger">Test Test Test Test</div>
  <div class="alert alert-danger">Test Test Test Test</div>
  <div class="alert alert-danger">Test Test Test Test</div>
  <div class="alert alert-danger">Test Test Test Test</div>
  <div class="alert alert-danger">Test Test Test Test</div>
  <div class="alert alert-danger">Test Test Test Test</div>
  <div class="alert alert-danger">Test Test Test Test</div>
  <div class="alert alert-danger">Test Test Test Test</div>
  <div class="alert alert-danger">Test Test Test Test</div>
  <div class="alert alert-danger">Test Test Test Test</div>
  <div class="alert alert-danger">Test Test Test Test</div>
  <div class="alert alert-danger">Test Test Test Test</div>
  <div class="alert alert-danger">Test Test Test Test</div>
  <div class="alert alert-danger">Test Test Test Test</div>
  <div class="alert alert-danger">Test Test Test Test</div>
  <div class="alert alert-danger">Test Test Test Test</div>
  <div class="alert alert-danger">Test Test Test Test</div>
</div>
